using CoreBDD;
using Xunit;

namespace [Namespace]
{
    public class [Name]Scenario: [Token2]Feature
    {
        [Scenario("[Name] Description")]
        public void [Name]()
        {
            Given($"I have ....",   () => { });
            When($"I ...",          () => { });
            Then($"I ...",			() => { });
        }
    }
}